
/* font-family: 'Open Sans', sans-serif;
font-family: 'Water Brush', cursive; */
.main{
  padding: 10px;
  background-color: bisque;
  font-size: 16px;
}

.article{
  box-sizing: border-box;
  display: inline-block;
  width: 33.33%;
  padding: 20px;
  vertical-align: top;
}
.heading{
  font-size: inherit;
}