body{
  margin: 0;
}
.wrapper{
  box-sizing: border-box;
  /* min-width:50vh; */
width: 70%;
/* max-width: 400px; */
min-height: 20vh;
height: auto;
max-height: 50vh;

border: 3px solid red;
margin: auto;
overflow: auto;

}

.inner{
  box-sizing: border-box;
  width: 50%;
  /* height: 50%; */
  padding: 5%;
  border: inherit;
  border-color: blue;
  /* margin: 10%; */
 
}

/*
vw vh vmin vmax
*/